<a href="https://colab.research.google.com/github/Jarmos-san/Titanic/blob/master/2_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up Notebook

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

In [8]:
%cd /content/gdrive/My\ Drive/Titanic/Data
%ls
%pwd

/content/gdrive/My Drive/Titanic/Data
gender_submission.csv  test.csv  train.csv

'/content/gdrive/My Drive/Titanic/Data'

In [0]:
import pandas as pd
import missingno

# Loading Datasets to Pandas DataFrame Object

In [0]:
# Path to the competition data files
PATH = '/content/gdrive/My Drive/Titanic/Data/'

# Loads the train and test datasets to a DataFrame
TrainDF = pd.read_csv(f'{PATH}train.csv', index_col='PassengerId')
TestDF = pd.read_csv(f'{PATH}test.csv', index_col='PassengerId')

# Makes a copy of the DataFrame for processing
TrainData= TrainDF.copy()
TestData= TestDF.copy()

# Handling Missing Values

### Embarked

In [0]:
TrainData['Embarked'].fillna('S', inplace=True)

### Age

In [0]:
TrainData['Age'].fillna(0, inplace=True)

### Cabin

In [0]:
TrainData['Cabin'].fillna('G6', inplace=True)

# Dropping Uneccessary Columns

In [0]:
TrainData.drop(labels=['Name', 'Ticket', 'Cabin'], axis='columns', inplace=True)

# Encode the Variables

In [61]:
TrainData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.6+ KB

In [0]:
TrainData = pd.get_dummies(TrainData, columns=['Sex', 'Embarked'], drop_first=True)

Notes

`Name`, `Ticket`, `Cabin`, have been dropped temporarily. While `Sex`, & `Embarked` are string type objects and are Nominal Categorical Variables.

# Save Encoded DataFrame as `.csv`

In [68]:
TrainData.head(3)

             Survived  Pclass   Age  ...  Sex_male  Embarked_Q  Embarked_S
PassengerId                          ...
1                   0       3  22.0  ...         1           0           1
2                   1       1  38.0  ...         0           0           0
3                   1       3  26.0  ...         0           0           1

[3 rows x 9 columns]

In [70]:
list(TrainData.columns)

['Survived',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Sex_male',
 'Embarked_Q',
 'Embarked_S']

In [0]:
TrainData.to_csv(f'{PATH}EncodedTrainData.csv', header=list(TrainData.columns))